form{
    display: table;
    margin: auto;
  }
  
  fieldset{
    margin: auto 5px;
  }
  
  body {
      background-color: #b4c7dc;
      margin-left: auto;
      margin-right: auto;
     /* width: 83%;*/
    }  
    /*Element 1*/
    #centar1{
        color: steelblue;
        text-align: center;
        display: inline-block;
        border-radius: 50px;
        height: 350px;
        width: 350px;
        border: 3px solid;
        border-color: steelblue;
        font-family: Arial, Helvetica, sans-serif;
    }
/*Element 2*/
    #centar3{
        color: steelblue;
        text-align: center;
        display: inline-block;
        border-radius: 50px;
        height: 350px;
        width: 350px;
        border: 3px solid;
        border-color: steelblue;
        font-family: Arial, Helvetica, sans-serif;
    }
    /*Element 3*/
    #centar2{
      color: steelblue;
      text-align: center;
      display: inline-block;
      border-radius: 15px;
      height: 450px;
      width: 420px;
      border: 3px solid;
      border-color: steelblue;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: royalblue;
  }
  
  .active {
    background-color: royalblue;
  }

  @media screen and (max-width: 600px) {

    #centar1{
        display: none;
    }

     .fieldset{
      width: 100%;
      margin-top: 0;
     
    }
  }
  