table {
    border-collapse: collapse;
}
td{ 
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 50px;
    width: 30px;
    
}

.neparna-celija{
    border-right: 1px dashed;
    background-color: #d9d9d9;
}

.parna-celija{
    border-right: 1px solid;
    background-color: #d9d9d9;
}

.kolona-dani{
    border-top: none;
    border-bottom: none;
    border-right: 1px solid;
    text-align: right;
}

.sati{
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 10px;
    vertical-align: bottom;
    text-align: center;
}


.slucaj1{
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}

.slucaj2{
    border-left: 1px solid black !important;
    border-right: 1px dashed black !important;
}

.slucaj3{
    border-left: 1px dashed black !important;
    border-right: 1px solid black !important;
}

.slucaj4{
    border-left: 1px dashed black !important;
    border-right: 1px dashed black !important;
}

.zauzeta-celija{
    background-color: lavender !important;
    text-align: center !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: royalblue;
  }
  
  .active {
    background-color: royalblue;
  }

@media screen and (max-width: 600px) {

    tbody{
        display: grid;
    }
    .prazna-celija, .parna-celija, .neparna-celija{
        display: none !important;
    }

    .sati{
        display: none;
    }

    .slucaj1, .slucaj2, .slucaj3, .slucaj4{
        display: block;
        border-left: 1px solid black !important;
        border-right: 1px solid black !important;
        width:300px
    }

    .kolona-dani{
        display: block;
        border: 1px solid black;
        width: 300px;
        background-color: gray;
        text-align: center !important;
        font-family: Verdana;
        
    }
    
    #tabela{
        text-align: -webkit-center;
    }
    span{
        vertical-align: -webkit-baseline-middle;
    }

    

    
}