
* {
  box-sizing: border-box;
}

input[type=text],input[type=time], select, textarea {
  text-align: center;
  width: 200px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
 /* resize: vertical;*/
}

label {
  /*margin-right: 50px;*/
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  text-align: start;
  margin-top: 105px;
  width: 100%;
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 20px;
  /*width: 80%;
  margin-left: auto;
  margin-right: auto;*/
  margin-left: auto;
  margin-right: auto;
  height: -webkit-fill-available;
  align-content: center;
}

/*Kopirano sa neta */
.col-25 {
  float: left;
  /*width: 25%;*/
  width: 50%;
  margin-top: 6px;
  text-align: end;
}

/*Kopirano sa neta */
.col-75 {
  float: left;
  /*width: 75%;*/
  width: 50%;
  margin-top: 6px;
  
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75{
    width: 100%;
    margin-top: 0;
    text-align: center;
  }

.container{
  margin: auto;
}

  input[type=text],input[type=time], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*resize: vertical;*/
    margin-bottom: 30px;
  }
}


/*Kopirano sa neta, malo promjenjene boje tj. background */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: royalblue;
}

.active {
  background-color: royalblue;
}