/*Kopirano sa neta w3school*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    /*width: 20%;*/ width: 400px;
    font-family: Arial, Helvetica, sans-serif;
  }
  th, td {

    padding: 15px;
    width: 50%;
    text-align: center;
  }

  tr:hover {
      border: 2px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: royalblue;
}

.active {
  background-color: royalblue;
}

@media screen and (max-width: 600px) {
  /*table{
    width: 66%;
  }*/
}