/*Za ovaj zadatak je napravaljeno vise klasa koje su iskorsitene u html te da bi se moj kod razlikovao od drugih*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(27,auto);
    /*padding: 10px;*/
    grid-template-rows: 1fr 5fr 5fr 5fr 5fr 5fr;
}

.boja{
    background-color: #d9d9d9;
    min-width: 15px ;
}
.top{
    border-top: solid;
}
  .grid-item{
      border:1px solid rgba(0, 0, 0, 0.8);
      text-align: center;
    }
  .ciza-desno{
    border-right: 1px dashed;
    border-top: solid;

  }

  .ciza-lijevo{
      border-left: hidden;
      border-right: solid;
      border-top: solid;
  }
  .ciza-lijevo-bez-dashed-desno{
    border-left: hidden;
    border-top: solid;
}


.ciza-desno-sa-dashed-lijevo{
    border-right: 1px dashed;
    border-left: solid;
    border-top: solid;
  }

  .c123{
   border-left: solid;
   border-top: solid;
  }

  .ciza-desno-prva{
   border-right: 1px dashed;
   border-top: initial;
   border-top: solid;
   border-left: solid;
  }

  .ciza-desno-prva-dole{
   border-right: 1px dashed;
   border-top: initial;
   border-top: solid;
   border-left: solid;
   border-bottom: solid;
  }

  .ciza-desno-dole{
    border-right: 1px dashed;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
  }

  .ciza-lijevo-dole{
      border-left: hidden;
      border-top: solid;
      border-bottom: solid;
  }

  .cizaNovi{
      border-top: solid;
      border-bottom: solid;
      border-right: 1px dashed;
  }

  .cizaNovi1{
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
}


  .ciza-lijevo-zadnji{
    border-left: hidden;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
}


.ciza-lijevo-sredina{
    border-left: hidden;
    border-right: solid;
    border-top: solid;
}

.ciza-lijevo-gore-desno{
    border-left: hidden;
    border-right: solid; 
    border-top: solid;
}

.lijevoGrooveDesnoCiza
{
    border-top: solid;
   border-left: solid;
   border-right: 1px dashed;
}
.lijevoGrooveDesnoCiza123
{    border-top: solid;
   border-right: 1px dashed;   
}
.desnoCiza
{
    border-right: solid;
    border-top: solid;
}

.noviDashed{
    border-right: solid;
    border-top: solid;
}

.noviDashed1{
    border-right: 1px dashed;
    border-top: solid;
}
 .dani{
       padding-right: 10px;
       border-top: hidden;
       border-left: hidden;
       border-right: hidden;
       border-bottom: hidden;
       text-align: end;
       font-family: Courier;
   }

   .box2{
    background-color:lavender;
    grid-column: span 6/10;
    text-align: center; 
    border-top: solid;
    border-left: solid; 
    
}

.box3{
    background-color: lavender;
    grid-column: span 3/13;
    border-right:1px dashed;
    border-top: solid;
    text-align: center;
    border-left: solid;

}

.box4{
    background-color: lavender;
    grid-column: span 6/20;
    border-top: solid;
    text-align: center;
    border-right: solid;
    border-left: solid;
}

.box5{
    background-color: lavender;
    grid-column: span 3/14;
    border-left: 1px dashed;
    border-top: solid;
    text-align: center;
    
}

.box6{
    background-color: lavender;
    grid-column: span 4/18;
    border-top: solid;
    text-align: center;
    border-left: solid;
   
}

.box7{
    background-color: lavender;
    grid-column: span 6/24;
    border-top: solid;
    text-align: center;
    border-left: solid;
    border-right: solid;
}

.box8{
    background-color: lavender;
    grid-column: span 6/16;
    border-top: solid;
    text-align: center;
    border-left: solid;
    
}

.box9{
    background-color: #d9d9d9;
    grid-column: span 6/22;
    border-top: solid;
    border-left: solid;
}

.box10{ 
    /*grid-column: 1 / span 2;*/
    grid-column: span 4/5;
    text-align: center;
    font-family: Courier;
}
.box11{
     grid-column: span 2/7;
    text-align: center;
    font-family: Courier;
}
.box12{
    
    grid-column: span 2/11;
    text-align: center;
    font-family: Courier;
}
.box13{
    
    grid-column: span 2/17;
    text-align: center;
    font-family: Courier;
}
.box14{
    
    grid-column: span 2/21;
    text-align: center;
    font-family: Courier;
}
.box15{
    
    grid-column: span 2/25;
    text-align: center;
    font-family: Courier;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: royalblue;
  }
  
  .active {
    background-color: royalblue;
  }

  @media screen and (max-width: 600px) {

    .boja:empty{
        display: table;
    }
    .grid-container{
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        display: table;
    }

    /*.grid-item{
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }*/

    .ciza-desno-prva{
        border: none;
    }
    .box9{
        border: none;
    }

    .box8{
        border: none;
    }

    .box5{
        border: none;
    }

    .box6{
        border: none;
    }

    .box7{
        border: none;
    }

    .box10{
        display: none;
    }

    .box11{
        display: none;
    }

    .box12{
        display: none;
    }

    .box13{
        display: none;
    }

    .box14{
        display: none;
    }

    .box15{
        display: none;
    }

    .box2{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .box3{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .box4{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .dani{
        font-size: larger;
        width: 400px;
        margin-bottom: 5px ;
        text-align: center;
        border:2px solid;
        background-color: cornflowerblue ;
    }
    .ciza-desno{
       border: none;
    
      }
    
      .ciza-lijevo{
         border: none;
      }
      .ciza-lijevo-bez-dashed-desno{
       border: none;
       
    }
    .ciza-desno-sa-dashed-lijevo{
      border: none;
      }
    
      .c123{
       border: none;
      }
    
      .ciza-desno-prva{
       border: none;
      }
    
      .ciza-desno-prva-dole{
       border: none;
      }
    
      .ciza-desno-dole{
      border: none;
      }
    
      .ciza-lijevo-dole{
        border: none;
      }
    
      .cizaNovi{
         border: none; 
      }
    
      .cizaNovi1{
       border: none;
    }
      .ciza-lijevo-zadnji{
       border: none;        
    }
    
    .ciza-lijevo-sredina{
      border: none;
    }
    .ciza-lijevo-gore-desno{
      border: none;
    }
    .lijevoGrooveDesnoCiza
    {
      border: none;
    }
    .lijevoGrooveDesnoCiza123
    {
       border: none;
    }
    .desnoCiza
    {
      border: none;
    }
    .noviDashed{
       border: none;
    }
    .noviDashed1{
       border: none;
    }
      .top{
        border: none;
      }   
  }